@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
body {
    width: 60%;
    margin: auto;
    background-color: #2f3136;
    color: #d3d3d3;
}

header {
    background-color: #202225;
    padding: 20px;
    /* margin: 50px 10px 20px 40px; */
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, li, footer {
    color:#d3d3d3;
} 

strong {
    color: #33FF33;
}
h1 {
    color: #33FF33;
    text-align: center;
    font-family: 'Lora', serif;
}

mark {
    background-color:#33FF33;
}

h2, h3 {
    color: rgb(255, 0, 0);
}

h3 {
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    background-color: bisque;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    background-color: #333;
    color: #ddd;
}

dt {
    font-weight: bold;
    font-size: 120%;
}

dd {
    border-left: 10px solid #ddd;
    padding-left: 20px;
}

.center {
    margin: auto;
    width: 80%;
}

.bg-blue {
    background-color: rgb(109, 109, 165);
}

.text-center {
    text-align: center;
    text-transform: uppercase;
}

.text-bold {
    font-weight: 600;
}

footer {
    background-color: #202225; 
}
/* Add a black background color to the top navigation */
.topnav {
    display:flex;
    justify-content: center;
    background-color: #2f3136;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }